@model Priority
@{
    ViewData["Title"] = "Создать приоритет";
}
<form asp-action="Issues">
 <input class="form-control"/>
 <div class="form-group">
    <input type="submit" value="Сохранить" class="btn btn-primary" />
</div>
</form>